<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9fcdbd">  <td>21/07/16 11:12:39</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="postMethod1.postMethodTest()[pri:0, instance:restAssuredMethods.postMethod1@36d4b5c]">postMethodTest</td> 
  <td>pool-1-thread-2@128149078</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>21/07/16 11:12:39</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="getMethod1.getMethodTest()[pri:0, instance:restAssuredMethods.getMethod1@100fc185]">getMethodTest</td> 
  <td>pool-1-thread-1@408985892</td>   <td></td> </tr>
</table>
